<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header">
    <a class="sidebar-logo">{{
      isSidebarCollapsed ? '' : 'Material'
    }}</a>
  </div>
  <div class="sidebar-menu">
    <ul>
      <ng-container *ngFor="let element of this.routeList; index as i" >
        <li class="sidebar-menu-item">
          <a class="sidebar-item">
            <span class="sidebar-item-text">
              <div *ngFor="let param of element; index as j" class="inline">
                <div *ngIf="param.includes(':')" class="inline">
                  <div class="inline" (click)="navClick(i)">/ </div> <input type="text" id="param_{{i}}_{{j}}" class="param"> <div class="inline" (click)="navClick(i)">{{param}}</div>
                </div>
                <div *ngIf="!param.includes(':')" class="inline" (click)="navClick(i)">
                    / {{param}}
                </div>
              </div>
            </span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>